@import url("../../styles/common/common.css");

.blog-posts {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 30px;
}

.action-buttons {
  display: flex;
  margin-left: auto;
  gap: 5px;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-color-bright);
  text-decoration: none;
  user-select: none;
}

.action-icon {
  font-size: 30px;
}

.action-button:hover {
  background-color: rgba(245, 245, 245, 0.1);
}

/* 대표 포스트 스타일 */
.featured-post {
  padding-left: 10px;
  display: grid;
  align-items: stretch;
  margin-bottom: 5px;
}

.featured-post .post-title {
  display: inline-block;
  background-image: linear-gradient(
    90deg,
    #ff9e26 50%,
    var(--htext-color-white) 50%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 1s cubic-bezier(0.22, 1, 0.36, 1);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #0b184b;
  font-family: "NanumSquareNeoVariable";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  margin-bottom: 1rem;
}

.featured-post .post-date {
  color: #a1bded;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #0b184b;
  font-family: "NanumSquareNeoVariable";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  margin-bottom: 1.5rem;
}

.featured-post:hover {
  background-position: 0 0;
}

.featured-post .post-title:hover {
  text-decoration: dashed;
}

.featured-post .post-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
  font-size: 12px;
}

.featured-post .post-meta {
  font-size: 14px;
  color: var(--btext-color-white);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 10px;
}

.featured-header {
  position: relative;
  width: max-content;
  height: 80px;
}

.featured-header .post-meta {
  height: 40px;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.featured-header:hover .post-meta {
  opacity: 0;
}

.featured-header .post-title {
  position: absolute;
  left: 0;
  top: 40px;
  font-size: 30px;
  width: max-content;
  color: initial;
  transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease,
    padding-left 0.3s ease;
  z-index: 2;
  padding-left: 0;
}

.featured-header:hover .post-title {
  transform: translateY(-10px);
  font-size: 36px;
  color: var(--htext-color-bright-bold);
}

.featured-header:hover .post-title {
  display: inline-flex;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    #ff9e26 50%,
    var(--htext-color-white-bold) 50%
  );
}

.featured-header:hover .post-title::before {
  font-family: "Material Icons";
  content: "arrow_outward";
  display: inline-block;
  color: #ff9e26;
  font-weight: 400;
  background-color: #ff9e26;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
}

/* 추가 포스트 스타일 */
.additional-posts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.additional-post {
  padding-left: 10px;
  display: grid;
  align-items: stretch;
}

.additional-post .post-title {
  display: inline-block;
  background-image: linear-gradient(
    90deg,
    #ff9e26 50%,
    var(--htext-color-white) 50%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #0b184b;
  font-family: "NanumSquareNeoVariable";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.additional-post .post-date {
  color: #a1bded;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #0b184b;
  font-family: "NanumSquareNeoVariable";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  margin-bottom: 5px;
  margin-top: -10px;
}

.additional-post .post-meta {
  font-size: 12px;
  color: var(--btext-color-white);
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 10px;
}

.additional-header {
  position: relative;
  width: max-content;
  height: 80px;
}

.additional-header .post-meta {
  height: 40px;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.additional-header:hover .post-meta {
  opacity: 0;
}

.additional-header .post-title {
  position: absolute;
  left: 0;
  top: 40px;
  font-size: 18px;
  width: max-content;
  color: initial;
  transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease,
    padding-left 0.3s ease;
  z-index: 2;
  padding-left: 0;
}

.additional-header:hover .post-title {
  transform: translateY(-20px);
  font-size: 24px;
  color: var(--htext-color-bright-bold);
}

.additional-header:hover .post-title {
  display: inline-flex;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    #ff9e26 50%,
    var(--htext-color-white-bold) 50%
  );
}

.additional-header:hover .post-title::before {
  font-family: "Material Icons";
  content: "arrow_outward";
  display: inline-block;
  color: #ff9e26;
  font-weight: 400;
  background-color: #ff9e26;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
}

.post-tags {
  display: flex;
  gap: 5px;
}

.tag {
  background-color: var(--background-color3);
  padding: 2px 6px;
  border: 1px solid var(--border-color2);
}

.featured-tag {
  background-color: #ff9e26;
  color: var(--btext-color-inverse);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
