.difficulty {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  height: max-content;
  width: max-content;
  background-color: var(--background-color5);
}

.difficulty img {
  height: 3.5rem;
  width: auto;
  user-select: none;
}

.difficulty-text {
  align-items: end;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: var(--text-color-grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
  user-select: none;
}

.difficulty-text .digit {
  font-size: 1.0rem;
  margin-bottom: 0.2rem;
}
